# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UploadArquivoAssincrono.iml
# Datasource local storage ignored files
/../../../../../../../:\projetos\upload-arquivo-assincrono\backend\.idea\.idea.UploadArquivoAssincrono\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
